<div class="contenedor">

  <header class="titulo">
    <h3>Administración de Usuarios</h3>
  </header>
  <br>

  <div class="container">
    <div class="row">
      <span class="text-adm col-xs-12 col-md-10 offset-md-1">Use la tabla a continuación para administrar sus usuarios.</span>
      <br><br>
      <div class="col-md-10 offset-md-1">
        <table class="table tabla">
          <thead>
            <tr>
              <th>N°</th>
              <th>Tipo</th>
              <th>Usuario</th>
              <th>Contraseña</th>
              <th>editar/eliminar</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let usuario of usuarios; let i=index">
            <tr *ngIf="usuario.estado=='Activo'">
              <td scope="row">{{i+1}}</td>
              <td>{{usuario.tipo}}</td>
              <td>{{usuario.user_name}}</td>
              <td>****************</td>
              <td>
                <div class="btn-group">
                  <button class="btn btn-default" (click)="editUsuario(usuario.id_usuario)"><span class="fa fa-pencil"></span></button>
                  <button class="btn btn-danger" (click)="deleteUsuario(usuario.id_usuario,usuario)"><span class="fa fa-trash"></span></button>
                </div>
              </td>
            </tr>
          </ng-container>
        </table>
      </div>
      <div class="boton">
        <a class="btn btn-info nuevo" href="https://front-sigap.herokuapp.com/dashboard" type="button"><i class="fa fa-arrow-left mas"
            aria-hidden="true"></i>
          <strong>Regresar inicio</strong>
        </a>
        <button class="btn prov btn-nuevo" [routerLink]="['/new-usuario']"><i class="fa fa-plus mas" aria-hidden="true"></i>
          <strong>Nuevo Usuario</strong></button>
      </div>
    </div>
  </div>
</div>